.find-room
  p.find-room__title Найдём номера под ваши пожелания
  .date-dropdown__container
    div
      p.find-room__input.text-style-litle Прибытие
      //- .datepicker-here
      .date-dropdown
        input.date-dropdown__input.date-dropdown-mask(
          type='text'
          class="datepicker-here"
          id='start_one'
          data-range="true" data-multiple-dates-separator=" - "
          readonly
        )
        span.date-dropdown__expand-symbol expand_more

    div
      p.find-room__input.text-style-litle Выезд
      .date-dropdown
        input.date-dropdown__input.date-dropdown-mask(
          type='text'
          id='end_one'
          readonly
        )
        span.date-dropdown__expand-symbol expand_more
