.filter-date-dropdown
  input.filter-date-dropdown__input.filter-date-dropdown-mask(
    placeholder='С какого по какое?'
    type='text'
    class="datepicker-here"
    data-date-format="d M"
    data-multiple-dates-separator=" - "
    readonly
  )
  span.filter-date-dropdown__expand-symbol expand_more
