.find-room.card-container
  p.find-room__title.text-style-big Найдём номера под ваши пожелания
  .date-dropdown__container
    div
      p.find-room__input.text-style-litle Прибытие
      //- Для постоянного отображения календаря
      //- .datepicker-here
      .date-dropdown
        input.date-dropdown__input.date-dropdown-mask(
          type='text'
          class="datepicker-here"
          id='start_one'
          data-range="true" data-multiple-dates-separator=" - "
          readonly
        )
        span.date-dropdown__expand-symbol expand_more

    div
      p.find-room__input.text-style-litle Выезд
      .date-dropdown
        input.date-dropdown__input.date-dropdown-mask(
          type='text'
          id='end_one'
          readonly
        )
        span.date-dropdown__expand-symbol expand_more
  .find-room__guests-container
    p.text-style-litle.find-room__guests-title Гости
    include ../../form-elements/dropdown/dropdown.pug
  a(href='#').btn-gradient.btn-gradient_wide
    span.btn-gradient__text.text-style-litle ПОДОБРАТЬ НОМЕР
    span.btn-gradient_wide-text arrow_forward