mixin comment(options)
  .comment
    .comment__block
      .comment__avatar
        .avatar
          img.avatar__img(src= options.avatar,
          alt='')
      .comment__like-btn
        label.like
          input.like__input#like(
            type='checkbox'
            checked= options.checked || false
          )
          span.like__btn
            span.material-icons#heart-unchecked favorite_border
            span.material-icons#heart-checked favorite
            span.like__counter= options.likes
    .comment__block
      .comment__user-name= options.name
      .comment__date= options.date
      .comment__text= options['comment-text']