//- .comment
//-   .comment__block
//-     .comment__avatar
//-       .avatar
//-         img.avatar__img(src='./assets/images/avatar-murad.jpg',
//-         alt='Фото: Мурад Сафаров ')
//-     .comment__like-btn
//-       label.like
//-         input.like__input#like(
//-           type='checkbox'
//-           checked
//-         )
//-         span.like__btn
//-           span.material-icons#heart-unchecked favorite_border
//-           span.material-icons#heart-checked favorite
//-           span.like__counter 12
//-   .comment__block
//-     .comment__user-name Мурад Сарафанов
//-     .comment__date 5 дней назад
//-     .comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.

mixin comment(options)
  .comment
    .comment__block
      .comment__avatar
        .avatar
          img.avatar__img(src= options.avatar,
          alt='')
      .comment__like-btn
        label.like
          input.like__input#like(
            type='checkbox'
            checked= options.checked || false
          )
          span.like__btn
            span.material-icons#heart-unchecked favorite_border
            span.material-icons#heart-checked favorite
            span.like__counter= options.likes
    .comment__block
      .comment__user-name= options.name
      .comment__date= options.date
      .comment__text= options['comment-text']