.room-description.card-container
    .room-description__header
      .room-description__header-title.text-style-litle № 
        span.room-description__header-number 888 
        span.room-description__header-type люкс
      .room-description__header-cost
        span.room-description__header-cost-rubles 9 990₽ 
        span.room-description__header-cost-day в сутки
    .room-description__date
      .date-dropdown__container
        .date-dropdown__column
          p.find-room__input.text-style-litle Прибытие
          .date-dropdown
            input.date-dropdown__input.date-dropdown-mask(
              type='text'
              class="datepicker-here"
              id='start_one'
              data-range="true" data-multiple-dates-separator=" - "
              readonly
            )
            span.date-dropdown__expand-symbol expand_more
        .date-dropdown__column
          p.find-room__input.text-style-litle Выезд
          .date-dropdown
            input.date-dropdown__input.date-dropdown-mask(
              type='text'
              id='end_one'
              readonly
            )
            span.date-dropdown__expand-symbol expand_more

    .room-description__guests
      p.text-style-litle.find-room__guests-title Гости
      include ../../form-elements/dropdown/dropdown.pug

    table.room-description__price
      tbody.room-description__price-body
        tr.room-description__price-row
          td.room-description__price-cell 9&nbsp;990₽ х 4 суток
          td.room-description__price-cell-right 39&nbsp;960₽
        tr.room-description__price-row
          td.room-description__price-cell Сбор за услуги: скидка 2&nbsp;179₽
            .price-cell-info 
              span.price-cell-info-text i
          td.room-description__price-cell-right 0₽
        tr.room-description__price-row
          td.room-description__price-cell Сбор за дополнительные<br>услуги
            .price-cell-info 
              span.price-cell-info-text i
          td.room-description__price-cell-right 300₽
      tfoot.room-description__price-foot.text-style-big
          tr.room-description__price-row
            td.room-description__price-cell 
              .room-description__price-foot-wrapper Итого
              span.room-description__price-cell-dots
            td.room-description__price-cell-right
              .room-description__price-foot-wrapper 38&nbsp;081₽

    a(href='#').btn-gradient.btn-gradient_wide
      span.btn-gradient__text.text-style-litle ЗАБРОНИРОВАТЬ